attrs==23.1.0
aws-cdk-lib==2.89.0
aws-cdk.asset-awscli-v1==2.2.200
aws-cdk.asset-kubectl-v20==2.1.2
aws-cdk.asset-node-proxy-agent-v5==2.0.166
aws-cdk.aws-lambda-python-alpha==2.89.0a0
black==23.7.0
blinker==1.6.2
boto3==1.28.2
botocore==1.31.2
cattrs==23.1.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.4
constructs==10.2.69
docutils==0.20.1
Flask==2.3.2
idna==3.4
importlib-resources==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsii==1.85.0
MarkupSafe==2.1.3
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
psycopg2-binary==2.9.6
publication==0.0.3
pycparser==2.21
python-dateutil==2.8.2
requests==2.31.0
s3transfer==0.6.1
six==1.16.0
typeguard==2.13.3
typing_extensions==4.7.1
urllib3==1.26.18
Werkzeug==2.3.6
